* body{
  /* background-color: #8bb1b7; */
  background-color: #89838f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  line-height: 100px;
  /* background-color: #295871; */
  background-color: #2d2135;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.3);
}
.main_note {
  /* color: #fcfcfc; */
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}
.my_notes h1 {
  color: #000000;
}
.my_notes p {
  color: grey;
}
.main_note form {
  /* background-color: #1a15b7; */
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: relative;
}
input {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}

textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
  color: #000000;
}

.MuiButton-root {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #2d2135 !important;
  border-radius: 50% !important;
}
.MuiButton-root .plus-sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #2d2135;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.MuiButton-root:hover {
  background-color: #2d2135;
}
.MuiButton-root:hover .plus-sign {
  color: #2d2135;
  background: transparent;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  border: none;
  width: 50px;
  color: #2d2135;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}
.deleteIcon {
  width: 0.7em;
  height: 0.7em;
}
.note .btn:hover {
  background-color: #2d2135;
}
.note .btn:hover .deleteIcon {
  color: #fff;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
